@media (min-width: 768px) {
    .my-custom-container {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .my-custom-container {
        width: 720px;
    }
}

@media (min-width: 1200px) {
    .my-custom-container {
        width: 900px;
    }
}
/* CSS FOR INDEX PAGE */
#map {
    color: black;
    height: 50rem;
}
.container {
    font-family: 'Gloria Hallelujah', cursive;
}
#h1dance {
    animation: dance 0.5s infinite;
}
@keyframes dance {
25% {
transform:rotate(5deg) translate(1px,2px);
color: orange;
}
100% {
transform:rotate(0deg);
}    
}

p {
    color: black;
}
.row {
    margin-top: 40px;
    padding: 10px;
}

#feedArea {
    font-family: 'Gloria Hallelujah', cursive;
}

#chatArea {
    font-family: 'Gloria Hallelujah', cursive;
}

/* CSS FOR SIGN UP PAGE */

.h1-login {
    text-align: center;
    font-size: 50px;
}

.row-login {
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;
    padding: 70px;
    border-radius: 25px;
    font-family: 'Gloria Hallelujah', cursive;
}

.waves-effect {
    font-size: 30px;
    margin-left: 45%;
    border-radius: 25px;
    height: 50px;
    width: 140px;
    padding: 10px;
}

#tacoDance {
    animation: dance 0.5s infinite;
    margin-top: 25px;   
}
