@media (min-width: 768px) {
    .my-custom-container {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .my-custom-container {
        width: 720px;
    }
}

@media (min-width: 1200px) {
    .my-custom-container {
        width: 900px;
    }
}

/* CSS FOR INDEX PAGE */
#map {
    color: black;
    height: 50rem;
}
.container {
    font-family: 'Gloria Hallelujah', cursive;
}
#h1dance {
    animation: dance 0.5s infinite;
}
@keyframes dance {
25% {
transform:rotate(5deg) translate(1px,2px);
color: orange;
}
100% {
transform:rotate(0deg);
}    
}

p {
    color: black;
}
.row {
    margin-top: 40px;
    padding: 10px;
}

#feedArea {
    font-family: 'Gloria Hallelujah', cursive;
}

#chatArea {
    font-family: 'Gloria Hallelujah', cursive;
}

/* CSS FOR SIGN UP PAGE */

.h1-login {
    text-align: center;
    font-size: 50px;
}

.row-login {
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;
    padding: 70px;
    border-radius: 25px;
    font-family: 'Gloria Hallelujah', cursive;
}

.waves-effect {
    font-size: 30px;
    margin-left: 45%;
    border-radius: 25px;
    height: 50px;
    width: 140px;
    padding: 10px;
}

#tacoDance {
    animation: dance 0.5s infinite;
    margin-top: 25px;   
}

#connections {
    margin: 20px;
    font-family: 'Gloria Halleluja', cursive;
    font-size: 22px;
    color: darkgreen;
    -webkit-animation:colorchange 20s infinite alternate;
      
      
    }

    @-webkit-keyframes colorchange {
      0% {
        
        color: darkgreen;
      }
      
      10% {
        
        color: purple;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: orange;
      }
      
      60% {
        
        color: yellowgreen;
      }
      
      70% {
        
        color: red;
      }
      80% {
     
        color: brown;
      }
      
      90% {
     
        color: aquamarine;
      }
      
      100% {
        
        color: azure;
}
}

/* Chat box*/

.form {
    padding: 20px;
    border: 3px solid orange;
    border-radius: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Gloria Halleluja', cursive;
    background-color:  #fffde7;
    color: green;
}
.form input[type='text'], .form textarea, .form input[type='text'] {
    border:1px solid #000;
    padding: 2px;
    width:300px;
    font-family: 'Gloria Halleluja', cursive;
}
.form h4 {
    text-align: center;
    font-family: 'Gloria Halleluja', cursive;
}
#date {
    text-align: center;
    font-family: 'Gloria Halleluja', cursive;
}
button {
    margin-left: 20%;
    font-family: 'Gloria Halleluja', cursive;
}

/* for super mobile responsive */

@media only screen and (max-width: 980px) {
    body {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 640px) {
    body {
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}