@media (min-width: 768px) {
    .my-custom-container {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .my-custom-container {
        width: 720px;
    }
}

@media (min-width: 1200px) {
    .my-custom-container {
        width: 900px;
    }
}
/* CSS FOR INDEX PAGE */
#map {
    color: black;
}
p {
    color: black;
}
.row {
    margin-top: 40px;
    padding: 10px;
}

/* CSS FOR LOGIN PAGE */

.h1-login {
    text-align: center;
    font-size: 40px;
}

.login-body {
    padding: 100px;
    background-color: #20315A;
}

.row-login {
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;
    padding: 70px;
    border-radius: 25px;
}

.waves-effect {
    font-size: 30px;
    margin-left: 45%;
    background-color: teal;
 
}
